.lineContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    color: white;
    height: 185px;
}

#container1 {
    width: 20%;
}

#container2 {
    width: 25%;
}

#container3 {
    width: 30%;
}

#container4 {
    width: 35%;
}

#container5 {
    width: 15%;
}

#container6 {
    width: 10%;
}

#container7 {
    width: 5%;
}

.myDiv {
    border-top: 1px solid #be3144;
    border-bottom: 1px solid #be3144;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-shadow: 5px 10px 5px 5px #1f2123;
    border-left: 1px solid #be3144;
    border-radius: 40px 0 0 40px;
}

.titleDiv {
    padding-right: 20px;
    padding-left: 10px;
}

.experienceContainer {
    width: 100%;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.experienceContainer:before {
    height: 54px;
    content: "";
    display: block;
}

@media screen and (max-width: 900px) {

    .lineContainer {
        font-size: 12px;
        height: 95px;
    }

    .myDiv {
        box-shadow: 3px 5px 5px 5px #1f2123;
    }
}
