nav{
    background-color: #be3144;
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    alignment: top;
    align-items: Center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    top: 0px;
}

 a{
    color: white;
    padding: 15px;
    transition: background 0.2s ease-out;
    text-decoration: none;
}
 a:hover {
    background: #45567d;
    cursor: pointer;
}
